.clearfix
  .clearfix
    %ul.nav.nav-tabs
      %li(ng-repeat="tab in tabs track by $index" ng-class="{'active': activeTab==tab}")
        %a(ng-href='/#/products/{{::productId}}/{{::tab}}') {{::"js.products.tabs." + tab | translate}} 
      .pull-right.gtr-r(style="padding-top: 3px;")
        %button.btn.btn-link.link-red(type="button" ng-click="removeProduct(productId)" confirm="{{::'js.products.actions.confirm_remove' | translate}}")
          %span(bs-tooltip title="{{::'js.products.actions.delete' | translate}}" placement="left")
            =icon :trash
  .clearfix(ng-switch="activeTab")
    %div(ng-switch-when="info" product-tab-info product-id="productId")
    %div(ng-switch-when="comments" product-tab-comments product-id="productId")
    %div(ng-switch-when="slider" product-tab-slider product-id="productId")
    %div(ng-switch-when="sub_products" product-tab-sub-products product-id="productId")

