input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: #333;
}

.form {
  &-search {
    position: relative;
    &:before {
      @include icon-pseudo($icon-search);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      text-align: center;
      line-height: 3.4rem;
      font-size: 1.2em;
      color: #696969;
    }
    .form-control {
      padding-left: 3rem;
    }
  }
  &-pull {
    position: absolute;
    left: -9999em;
  }
  &-label {
    @include clearfix;
    display: block;
    padding-bottom: $gutter / 3;
    margin: 0;
    font-weight: initial;
    .help-block {
      margin: 0;
      padding: 0 0 3px 0;
      font-size: 12px;
    }
    &.has-success {
      .form-control {
        &, &:focus {
          border-color: $green-base;
          @include box-shadow(inset 0 0 1px $green-base);
        }
      }
    }
    &.has-error {
      .form-control {
        &, &:focus {
          border-color: $btn-danger-bg;
          @include box-shadow(inset 0 0 1px $btn-danger-bg);
        }
      }
    }
    &.required {
      .form-label-text {
        &:before {
          content: '*';
          color: $orange-base;
          display: inline-block;
          vertical-align: middle;
          padding-right: 5px;
          padding-top: 2px;
          line-height: 0;
        }
      }
    }
    &-text {
      font-size: 0.94em;
      font-weight: $fw-bold;
      color: rgba(black, 0.9);
      display: block;
      padding-bottom: $gutter / 6;
    }
  }
  &-checkbox {
    display: block;
    padding-bottom: $gutter / 3;
    @include clearfix;
    input {
      position: absolute;
      left: -9999em;
      + span {
        cursor: pointer;
        float: left;
        &.nowrap {
          > .smile {
            white-space: initial;
          }
        }
        &:before {
          @include icon-pseudo($icon-check);
          display: inline-block;
          vertical-align: middle;
          border-width: 1px;
          border-style: solid;
          border-color: #ccc;
          margin-right: 0.6em;
          background-color: #ccc;
          border-radius: 100%;
          text-align: center;
          color: transparent;
          @include transition-duration(200ms);
          font-size: 1.2rem;
          height: 1.8rem;
          width: 1.8rem;
          line-height: 1.6rem;
        }
        &:hover:before {
          color: white;
        }
      }
      &:checked {
        + span {
          &:before {
            border-color: $blue-base;
            background-color: $blue-base;
            color: white;
          }
        }
      }
    }
  }
  &-radio {
    display: block;
    padding-bottom: $gutter / 3;
    @include clearfix;
    input {
      position: absolute;
      left: -9999em;
      + span {
        cursor: pointer;
        float: left;
        &.nowrap {
          > .smile {
            white-space: initial;
          }
        }
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          height: 1.1em;
          width: 1.1em;
          border-width: 2px;
          border-style: solid;
          border-color: #ccc;
          margin-right: 0.6em;
          background-color: #ccc;
          border-radius: 100%;
        }
        &:hover {
          &:before {
            @include box-shadow(inset 0 0 0 3px #fff);
          }
        }
      }
      &:checked {
        + span {
          &:before {
            border-color: $blue-base;
            background: $blue-base;
            @include box-shadow(inset 0 0 0 3px #fff);
          }
        }
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-image: none;
  border-radius: $input-border-radius;
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  @include form-control-focus;

  @include placeholder;
  background-color: $input-bg;
  border: 1px solid $input-border;
  @include box-shadow(inset 0 0 1px $input-border);
  
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; 
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
  &.gutter-right-4x {
    padding-right: $gutter * 2!important;
  }
  &-addon {
    @include clearfix;
    width: 100%;
    position: relative;
    &.left {
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        line-height: $input-height-base;
        display: block;
        width: 2em;
        text-align: center;
        @include opacity(0.45);
      }
      .form-control {
        padding-left: 2em;
      }
    }
    &.right {
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        line-height: $input-height-base;
        display: block;
        width: 2em;
        text-align: center;
        @include opacity(0.45);
      }
      .form-control {
        padding-right: 2em;
      }
    }
  }
  &.emoji-wysiwyg-editor {
    height: auto!important;
    font-size: $font-size-base;
    margin: 0;
    padding-top: 9px;
  }
  &.sm {
    height: 25px;
    padding: 0 6px;
    font-size: 12px;
  }
  &.tspr {
    background: transparent;
    border-color: transparent;
    @include box-shadow(none);
    &:hover {
      background-color: $input-bg;
      border: 1px solid $input-border;
      @include box-shadow(inset 0 0 1px $input-border);
    }
    &:focus {
      background-color: $input-bg;
      border: 1px solid $input-border-focus;
      @include box-shadow(inset 0 0 1px $input-border-focus);
    }
  }
}
select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: $input-border-radius;
  @include bg-svg($caret-down-svg);
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}
