.#{$icomoon-prefix}-pencil { 
  &:before {
    content: $icon-pencil;
  }
}
.#{$icomoon-prefix}-upload { 
  &:before {
    content: $icon-upload;
  }
}
.#{$icomoon-prefix}-file-excel-o { 
  &:before {
    content: $icon-file-excel-o;
  }
}
.#{$icomoon-prefix}-plus { 
  &:before {
    content: $icon-plus;
  }
}
.#{$icomoon-prefix}-shopping-cart { 
  &:before {
    content: $icon-shopping-cart;
  }
}
.#{$icomoon-prefix}-eye { 
  &:before {
    content: $icon-eye;
  }
}
.#{$icomoon-prefix}-angle-down { 
  &:before {
    content: $icon-angle-down;
  }
}
.#{$icomoon-prefix}-angle-up { 
  &:before {
    content: $icon-angle-up;
  }
}
.#{$icomoon-prefix}-angle-right { 
  &:before {
    content: $icon-angle-right;
  }
}
.#{$icomoon-prefix}-angle-left { 
  &:before {
    content: $icon-angle-left;
  }
}
.#{$icomoon-prefix}-image { 
  &:before {
    content: $icon-image;
  }
}
.#{$icomoon-prefix}-trash { 
  &:before {
    content: $icon-trash;
  }
}
.#{$icomoon-prefix}-sign-out { 
  &:before {
    content: $icon-sign-out;
  }
}
.#{$icomoon-prefix}-paper-plane { 
  &:before {
    content: $icon-paper-plane;
  }
}
.#{$icomoon-prefix}-search { 
  &:before {
    content: $icon-search;
  }
}
.#{$icomoon-prefix}-cloud-download { 
  &:before {
    content: $icon-cloud-download;
  }
}
.#{$icomoon-prefix}-file-upload { 
  &:before {
    content: $icon-file-upload;
  }
}
.#{$icomoon-prefix}-menu { 
  &:before {
    content: $icon-menu;
  }
}
.#{$icomoon-prefix}-user { 
  &:before {
    content: $icon-user;
  }
}
.#{$icomoon-prefix}-close { 
  &:before {
    content: $icon-close;
  }
}
.#{$icomoon-prefix}-calendar { 
  &:before {
    content: $icon-calendar;
  }
}
.#{$icomoon-prefix}-l-angle-up { 
  &:before {
    content: $icon-l-angle-up;
  }
}
.#{$icomoon-prefix}-l-angle-right { 
  &:before {
    content: $icon-l-angle-right;
  }
}
.#{$icomoon-prefix}-l-angle-left { 
  &:before {
    content: $icon-l-angle-left;
  }
}
.#{$icomoon-prefix}-l-angle-down { 
  &:before {
    content: $icon-l-angle-down;
  }
}
.#{$icomoon-prefix}-palm { 
  &:before {
    content: $icon-palm;
  }
}
.#{$icomoon-prefix}-bitcoin-ticket { 
  &:before {
    content: $icon-bitcoin-ticket;
  }
}
.#{$icomoon-prefix}-check { 
  &:before {
    content: $icon-check;
  }
}

