$icon-pencil: "\e91a";
$icon-upload: "\e916";
$icon-file-excel-o: "\e914";
$icon-plus: "\e90f";
$icon-shopping-cart: "\e90e";
$icon-eye: "\e90d";
$icon-angle-down: "\e909";
$icon-angle-up: "\e90a";
$icon-angle-right: "\e90b";
$icon-angle-left: "\e90c";
$icon-image: "\e907";
$icon-trash: "\e906";
$icon-sign-out: "\e904";
$icon-paper-plane: "\e902";
$icon-search: "\e919";
$icon-cloud-download: "\e917";
$icon-file-upload: "\e915";
$icon-menu: "\e908";
$icon-user: "\e905";
$icon-close: "\e903";
$icon-calendar: "\e918";
$icon-l-angle-up: "\e910";
$icon-l-angle-right: "\e911";
$icon-l-angle-left: "\e912";
$icon-l-angle-down: "\e913";
$icon-palm: "\e604";
$icon-bitcoin-ticket: "\e900";
$icon-check: "\e901";

