.clearfix
  .clearfix
    %ul.nav.nav-tabs
      %li(ng-repeat="tab in tabs track by $index" ng-class="{'active': activeTab==tab}")
        %a(ng-href='/#/users/{{::userId}}/{{::tab}}') {{::"js.users.tabs." + tab | translate}} 
      .pull-right.gtr-r(style="padding-top: 3px;")
        %button.btn.btn-link.link-red(type="button" ng-click="removeUser(userId)" confirm="{{::'js.users.actions.confirm_remove' | translate}}")
          %span(bs-tooltip title="{{::'js.users.actions.delete' | translate}}" placement="left")
            =icon :trash
  .clearfix(ng-switch="activeTab")
    %div(ng-switch-when="info" user-tab-info user-id="userId")
    %div(ng-switch-when="orders" user-tab-orders user-id="userId")